<header class="pb-3 mb-4 border-bottom">
  <a href="{{ site.github.url }}/" class="text-decoration-none">
    <h1 class="site-title mb-0">{{ site.title }}</h1>
    <span class="site-description text-muted">{{ site.description }}</span>
  </a>
  {% if site.data.settings.menu.size > 0 %}
  <nav class="mt-2">
    {% for item in site.data.settings.menu %}
      <a class="me-3 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  {% endif %}
</header>
