---
layout: default
---

{% assign profile = site.data.profile %}

<section class="profile-section mb-5">
  <div class="row g-4 align-items-start">
    <div class="col-md-4 text-center">
      <img src="{{ site.github.url }}/{{ profile.image }}" alt="{{ profile.name.en }}" class="profile-image rounded">

      <div class="social-links mt-3">
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" class="social-icon" target="_blank" rel="noopener">
            <i class="fab fa-{{ item.icon }}"></i>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-8">
      <div class="profile-info">
        {{ profile.bio | markdownify }}

        {% if profile.interests %}
        <div class="interests mt-3">
          <strong>Research Interests:</strong>
          <ul class="interest-list">
            {% for interest in profile.interests %}
              <li>{{ interest }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if profile.email %}
        <div class="contact mt-3">
          <i class="fas fa-envelope"></i> {{ profile.email }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% include publications.html %}
